<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>

    <p>I was born at a very young age.</p>

    <p><a href='http://localhost:3000/'>Home</a></p>

  </body>
</html>
