<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="content">
      <p>hello, world</p>

      <p><a href='http://localhost:3000/about'>About</a></p>

      <img src="images/cat.jpg" alt="Cat picture" />
    </div>

  </body>
</html>
